



/* fontFamily:"Merriweather,Merriweather-fallback-TimesNewRoman,times,serif" */
.title{ font-size: 1.1rem;
  font-weight: 640;
  color: black;
}


.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: -5px;

}